html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	font-family: arial;
	-webkit-font-smoothing: antialiased;
	margin: 50px 0px;
}

/* .row  Parent  */
.row {
	display: flex;
	flex-direction: column;
}
  
/* .col Child  */
.col {
	flex: 1;
	/*padding: 1em;
	margin: .6em; 
	/* important */
	color: #333;
}
h1 {
    margin-bottom: 20px;
    font-weight: bold;
}
img {
	display: block;
	margin: 0 auto 0 auto; 
	width: 100%;
}

img.twitter {
    border: 10px solid #c65353;
	border-radius: 50%;
	padding: 0;
}
img.facebook {
    border: 10px solid #80ffaa;
	border-radius: 50%;
	height: 40%;
	width: 40%;
	padding: 0;
}
img.skype {
    border: 10px solid #006666;
	border-radius: 50%;
	height: 70%;
	width: 70%;
	padding: 0;
}


@media screen and (min-width: 500px) {
	.row {
	  display: flex;
	  flex-direction: row;
	  width: 70%;
      margin: auto;
	}
	img {
	  padding: 0 2em 0 2em;
	  width: 66.6%;
	}
	img.facebook {
		height: 40%;
		width: 45%;
		padding: 0;
	}
	img.twitter {
		height: 100%;
		width: 100%;
	}
	img.facebook {
		/* margin-top: auto; */
		transform: translateX(20%) translateY(65%);
	}
	img.skype {
		transform: translateX(0%) translateY(20%);
	}
  }
  



